<!DOCTYPE html>
<html>
<head>
    <% include ../layout/head %>
</head>
<body>
    <header>
        <% include ../layout/navbar %>
        <link rel='stylesheet' href='qna.css'>
    </header>
    <main>
        <div>
            <%/*新增板規的按鈕*/%>
            <%if(user && user.role==="admin"){%>
                <button class="btn addRulebtn admin" data-toggle="modal" data-target="#addRule">新增板規</button>
                <%}%>
            <%/*新增板規modal*/%>
            <div class="modal fade" id="addRule" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content postQuestionAndRule">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">新增板規</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <%/*新增板規表單*/%>
                            <form name="addR" action="/qna/addR" method="post">
                                <div class="modal-body">  
                                    <div class="form-group">
                                        <label for="validationServer01" class="col-form-label" required>標題：</label>
                                        <input type="text" class="form-control Qtitle" name="Title" required="required">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleFormControlSelect1">類別：</label>
                                            <select class="form-control type" name="Type" required="required">
                                                <option>板規</option>
                                            </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">板規內容：</label>
                                        <textarea class="form-control content" id="message-text" name="Content" rows="5" required="required"></textarea>
                                    </div>
                                </div> 
                                <div class="modal-footer">
                                    <input class="btn btn-primary submitbtn" type="submit" value="送 出">
                                    <button type="button" class="btn btn-secondary closebtn" data-dismiss="modal">返 回</button>              
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            <%/*我要發問的按鈕*/%>
            <%if(user){%>
                <button class="btn askbutton"  data-toggle="modal" data-target="#askQuestion"></button>
                <%}
                else{%>
                    <button class="btn askbutton loginFirst"></button>
                <%}
                %>
            <%/*回到頁面最頂端的按鈕*/%>
            <button type="button" class="btn goTop"></button>
            <%/*新增問題modal*/%>
            <div class="modal fade" id="askQuestion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content  postQuestionAndRule">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">新增問題</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <%/*新增問題*/%>
                        <form name="addq" action="/qna/addq" method="post">
                            <div class="modal-body">  
                                <div class="form-group">
                                    <label for="validationServer01" class="col-form-label">標題：</label>
                                    <input type="text" class="form-control Qtitle" name="Title" required="required">
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">類別：</label>
                                        <select class="form-control type" name="Type" required="required">
                                            <option>校園生活</option>
                                            <option>學生事務</option>
                                            <option>課程相關</option>
                                            <option>其他</option>
                                        </select>
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">問題內容：</label>
                                    <textarea class="form-control content" id="message-text" name="Content" rows="5"></textarea>
                                </div>
                            </div> 
                            <div class="modal-footer">
                                <input class="btn btn-primary submitbtn subQ" type="submit" value="送 出">
                                <button type="button" class="btn btn-secondary closebtn" data-dismiss="modal">返 回</button>              
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <%/*搜尋功能*/%>
            <form class="search" action="/qna/search" method="get">
                <div class="input-group" style="margin:10px;">
                    <input class="form-control form-control-sm" type="search" id="searchtext" placeholder="輸入關鍵字" name="keyword" ></input>
                    <div class="input-group-append">
                            <button class="btn searchbtn" type="submit"></button>

                        </span>
                    </div>    
                    <%/*展開排序與分類的按鈕*/%>
                </div>
            </form>
         <a class="dropdown-toggle classificationBtn" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
        <div id="select111">
           

            <%/*排序與分類的按鈕*/%>
            <div class="classification">  
                <ul class="nav justify-content-center nav-pills">
                    <li ><p class="nav-link">　排序　</p></li>
                    <li ><button class="btn nav-link sort Time clbtn" data-sort="time" data-order="desc" >　時間　</button></li>
                    <li><button class="btn nav-link sort Hot clbtn" data-sort="hot" data-order="desc">　人氣　</button></li>
                    
                    <li ><a class="nav-link"><br></a></li>
                    <li><p class="nav-link">　分類　</p></li>
                    <li ><a class="nav-link" href="#all">　全部　</a></li>
                    <li ><a class="nav-link" href="#school">校園生活</a></li>
                    <li ><a class="nav-link" href="#student">學生事務</a></li>
                    <li ><a class="nav-link" href="#class">課程相關</a></li>
                    <li ><a class="nav-link" href="#others">　其他　</a></li>
                        
                </ul>
        </div>
            <table id="tabletable">
                
                <thead>
                    <tr>
                        <th class="notebook"></th>
                        <%if(user && user.role==="admin"){%>
                            <th class="type">分類</th>
                            <th class="thTitle">標題</th>
                            <th class="TIME">時間</th>
                            <th class="HOT">人氣</th>
                            <%}
                            else{%>
                            <%# /用vw排版才不會跑掉不知道為什麼 %>
                            <th style="width: 15vw">分類</th>
                            <th style="width: 60vw">標題</th>
                            <th style="width: 15vw">時間</th>
                            <th style="width: 10vw">人氣</th>

                            <!-- <th style="width: 15%">分類</th>
                            <th style="width: 52%">標題</th>
                            <th style="width: 15%">時間</th>
                            <th style="width: 10%">人氣</th> -->
                            <%}
                        %>
                        
                        <%# /管理員頁面才有的 %>
                        <%if(user && user.role==="admin"){%>
                            <!-- <th class="admin">解答與否</th> -->
                            <th class="admin">更改解答</th>
                            <th class="admin">刪除</th>
                            <!-- <th class="admin">刪除問題</th> -->
                        <%}%>
                        <%# /管理員頁面才有的 %>
                    </tr>
                </thead>
                    <tbody class="list">
                    <% for(var j=0;j<rule.length;j++){%>
                        <tr id="<%= rule[j].id %>" class="<%= rule[j].id %> R">
                            <td class="notebook"></td>
                            <%if(user && user.role==="admin"){%>
                                <td class="type"><%= rule[j].Type %></td>
                                <td class="titleR title" id="<%= rule[j].id %>" style="width:30%">
                                    <div class="article title2"><%= rule[j].Title %></div>
                                </td>
                                <td class="time TIME" style="width:10%"><%= Time(rule[j].CreateDate) %></td>
                                <td class="view HOT" style="text-align: center;width:10%"><%= rule[j].Click %></td>
                                <%}
                                else{%>
                                    <td class="type"><%= rule[j].Type %></td>
                                    <td class="titleR title" id="<%= rule[j].id %>">
                                        <div class="article"><%= rule[j].Title %></div>
                                    </td>
                                    <td class="time topT" style="width:15%"><%= Time(rule[j].CreateDate) %></td>
                                    <td class="view hot" style="text-align: center;width:10%"><%= rule[j].Click %></td>
                                    <%}
                                %>
                            <%if(user &&　user.role==="admin"){%>
                                <!-- <td class="admin" style="width:10%">無解答</td> -->
                                <td class="admin"  data-toggle="modal" data-target="#<%= rule[j].id %>-edit">編輯板規</td>
                                <!-- <td class="admin" style="width:10%">無</td> -->
                                <td class="deleteR admin"  id="<%= rule[j].id %>"><a method="get" href="/qna/deleteR/<%= rule[j].id %>" role="button">刪除板規</a></td>
                                <%}%>
                        </tr>
                        <%#顯示板規的Modal%>
                            <div class="modal fade bd-example-modal-lg" id="<%= rule[j].id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content QA">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel"><%= rule[j].Title %></h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body"><%= rule[j].Content %></div>
                                        <div class="modal-body"></div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary closemodal" data-dismiss="modal">　O K　</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <%/*編輯板規的modal*/%>
                        <div class="modal fade bd-example-modal-lg" id="<%= rule[j].id %>-edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content QA">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel"><%= rule[j].Title %></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                        <form name="update" action="/qna/updateR/<%= rule[j].id %>" method="post">
                                                <div class="modal-body">
                                                    <br>
                                                    <textarea id="answer111" required="required" name="Content" rows="5"><%= rule[j].Content %></textarea>  
                                                </div>
                                                <div class="modal-footer">
                                                    <input class="btn btn-primary submit submitbtn" type="submit" value="更改板規"></input>
                                                    <button type="button" class="btn btn-secondary closebtn" data-dismiss="modal">關 閉</button>
                                                </div>    
                                        </form>
                                
                                </div>
                            </div>
                        </div>
    
                    <%}%>
                    <% for(var i=0; i<question.length; i++) {%>
                        <tr id="<%= question[i].id %>" class="<%= question[i].id %> <%= question[i].Type %> Q">
                            <td class="notebook"></td>
                            <%if(user && user.role==="admin"){%>
                                <td class="type"><%= question[i].Type %></td>
                                <td class="titleQ title" style="width:30%" id="<%= question[i].id %>">
                                    <div class="article title2"><%= question[i].Title %></div>
                                </td>
                                <%}
                                else{%>
                                    <td style="width:15%;" class="type"><%= question[i].Type %></td>
                                    <td class="titleQ title"  id="<%= question[i].id %>">
                                        <div class="article title2"><%= question[i].Title %></div>
                                        <!-- <p class="article title2"><%= question[i].Title %></p> -->
                                    </td>
                                <%}
                            %>

                            <% if(question[i].CreateDate){%>
                                    <td class="time TIME"><%= Time(question[i].CreateDate) %></td>
                                <%}
                                else{%>
                                    <td style="width:10%;">未解答</td>
                                <%}
                                %>
                                <td class="view hot HOT"><%= question[i].Click %></td>
                            
                            <%# /管理員頁面才有的 %>
                            <%if(user && user.role==="admin"){%>
                                <% if(question[i].Answer) {%>
                                    <!-- <td class="admin ans">是</td> -->
                                    <td class="admin"  data-toggle="modal" data-target="#<%= question[i].id %>-edit">編輯答案</td>
                                <%} 
                                else{%>
                                    <!-- <td class="admin ans">否</td> -->
                                    <td class="admin"  data-toggle="modal" data-target="#<%= question[i].id %>-edit">新增答案</td>
                                <%} 
                                %>
        
                                <% if(question[i].Reason ==="") {%>
                                        <td class="admin" data-toggle="modal" data-target="#<%= question[i].id %>-delete" >提出刪除理由</td>
                                    <%}
                                    else{%>
                                        <!-- <td  class="admin" >已提出</td> -->
                                        <td class="admin hide" id="<%= question[i].id %>">刪除問題</td>
                                        <%}
                                    %>
                            <%}%>
                            <%# /管理員頁面才有的 %>
                        </tr>
                       
                            <%#顯示問題跟答案的Modal%>
                            <div class="modal fade bd-example-modal-lg" id="<%= question[i].id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content QA">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle"><%= question[i].Title %></h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body"><h5 class="blueLetter">Q</h5><h5 style="display: inline;font-weight:bold;">uestion</h5></div>
                                        <div class="modal-body"><%= question[i].Content %></div>
                                        <div class="modal-body"><h5 class="blueLetter">A</h5><h5 style="display: inline;font-weight:bold;">nswer</h5></div>
                                        <div class="modal-body"><%= question[i].Answer %></div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary closemodal" data-dismiss="modal">　O K　</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <%#新增/編輯答案的Modal%>
                            <div class="modal fade bd-example-modal-lg" id="<%= question[i].id %>-edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content QA">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel"><%= question[i].Title %></h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                            
                                        <%if(question[i].Answer){%>
                                            <form name="update" action="/qna/updateA/<%= question[i].id %>" method="post">
                                                    <div class="modal-body"><h5>Question 問題</h5></div>
                                                    <div class="modal-body"><%= question[i].Content %></div>
                                                    <div class="modal-body form-group">
                                                        <label for="exampleFormControlSelect1">類別：</label>
                                                            <select class="form-control type" name="Type" required="required">
                                                                <option>校園生活</option>
                                                                <option>學生事務</option>
                                                                <option>課程相關</option>
                                                                <option>其他</option>
                                                            </select>
                                                    </div>
                                                    <div class="modal-body"><h5>Answer 答案</h5></div>
                                                    <div class="modal-body"><h5>編輯答案</h5>
                                                        <br>
                                                        <textarea id="answer111 <%= i %>"  class="answer111" required="required" name="Answer" rows="5"><%= question[i].Answer %></textarea>  
                                                    </div>
                                                    <div class="modal-footer">
                                                        <input class="btn btn-primary submit submitbtn" type="submit" value="更改答案">
                                                        <button 
                                                        <button type="button" class="btn btn-secondary closebtn" data-dismiss="modal">關 閉</button>
                                                    </div>    
                                            </form>
                                        <%}
                                        else{%>
                                            <form name="adda" action="/qna/adda/<%= question[i].id %>" method="post">
                                                <div class="modal-body"><h5>Question 問題</h5></div>
                                                <div class="modal-body"><%= question[i].Content %></div>
                                                <div class="modal-body form-group">
                                                        <label for="exampleFormControlSelect1">類別：</label>
                                                            <select class="form-control type" name="Type" required="required">
                                                                <option>校園生活</option>
                                                                <option>學生事務</option>
                                                                <option>課程相關</option>
                                                                <option>其他</option>
                                                            </select>
                                                    </div>
                                                <div class="modal-body"><h5>輸入解答</h5>
                                                    <br>
                                                    <textarea id="<%= i %>"  class="answer111" required="required" name="Answer" rows="5"></textarea>
                                                </div>
                                                <div class="modal-footer">
                                                    <input class="btn btn-primary submit submitbtn" type="submit" value="送出答案"> 
                                                    <button type="button" class="btn btn-secondary closebtn" data-dismiss="modal">關 閉</button>
                                                </div>
                                            </form>      
                                        <%}
                                        %>     
                                    </div>
                                </div>
                            </div>
                            <%/*刪除問題的modal*/%>
                            <div class="modal fade bd-example-modal-lg" id="<%= question[i].id %>-delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content QA">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">刪除理由</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                            <form name="delete" action="/qna/deleteQ/<%= question[i].id %>" method="post">
                                                    <div class="modal-body">
                                                        <br>
                                                        <textarea id="delete111" required="required" name="Reason" rows="5"></textarea>  
                                                    </div>
                                                    <div class="modal-footer">
                                                        <input id="<%= question[i].id %>" class="btn btn-primary deleteQ submit submitbtn" type="submit" value="送出刪除理由"></input>
                                                        <button type="button" class="btn btn-secondary closebtn" data-dismiss="modal">關 閉</button>
                                                    </div>    
                                                </form>
                                    
                                    </div>
                                </div>
                            </div>
                    <% } %>
                </tbody>
            </table>

        </div>
        <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
    </main>
    <footer>
        <% include ../layout/footer %>
    </footer>
        <% include ../layout/js %>
        <% include js %>
</body>
</html>
