<!DOCTYPE html>
<html>
<head>
    <% include ../layout/head %>
</head>
<body>
    <header>
        <% include ../layout/navbar %>
        <link rel='stylesheet' href='qna.css'>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    </header>
    <main>
        <div>
            <img src="發問按鈕.png" type="button" class="askbutton" data-toggle="modal" data-target="#askQuestion">
            <div class="modal fade" id="askQuestion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                
                <div class="modal-dialog" role="document">
                    <div class="modal-content  askQuestion">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">新增問題</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <%/*新增問題*/%>
                        <form name="addq" action="/qna/addq" method="post">
                            <div class="modal-body">  
                                <div class="form-group">
                                    <label for="validationServer01" class="col-form-label">標題：</label>
                                    <input type="text" class="form-control Qtitle" name="Title" required="required">
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">類別：</label>
                                        <select class="form-control type" name="Type" required="required">
                                            <option>校園生活</option>
                                            <option>學生事務</option>
                                            <option>課程相關</option>
                                            <option>其他</option>
                                        </select>
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">問題內容：</label>
                                    <textarea class="form-control content" id="message-text" name="Content" rows="5"></textarea>
                                </div>
                                <div class="g-recaptcha" data-sitekey="6LeJx2MUAAAAAILzJ8UKyyWzSw1gepCJ16fUoI1G"></div> 
                            </div> 
                            <div class="modal-footer">
                                <input class="btn btn-primary submitbtn" type="submit" value="送 出">
                                <button type="button" class="btn btn-secondary closebtn" data-dismiss="modal">退 回</button>              
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <form class="search" action="/qna/search" method="get">
                <button class="searchbtn" type="submit"></button>
                <input id="searchtext" type="text" placeholder="輸入關鍵字" name="keyword"></input>
            </form>
            <div class="classification">    
                    <ul class="nav justify-content-center nav-pills">
                        <li class="nav-link"><p class="nav-link">排序</p></li>
                        <li class="nav-link"><a class="nav-link" method="get" href="/qna/time" role="button">時間</a></li>
                        <li class="nav-link"><a class="nav-link" method="get" href="/qna/hot" role="button">人氣</a></li>
                        <!-- <li class="nav-link"><a class="nav-link" method="get" href="#time" role="button">時間</a></li>
                        <li class="nav-link"><a class="nav-link" method="get" href="#hot" role="button">人氣</a></li> -->
                        <li class="nav-link"><p class="nav-link">分類</p></li>
                        <li class="nav-link"><a class="nav-link" href="#all">全部</a></li>
                        <li class="nav-link"><a class="nav-link" href="#校園生活">校園生活</a></li>
                        <li class="nav-link"><a class="nav-link" href="#學生事務">學生事務</a></li>
                        <li class="nav-link"><a class="nav-link" href="#課程相關">課程相關</a></li>
                        <li class="nav-link"><a class="nav-link" href="#其他">其他</a></li>
                    </ul>
            </div>
            
        </div>
        <table id="tabletable">
            <thead>
                <tr>
                    <th>分類</th>
                    <th class="title">標題</th>
                    <th>時間</th>
                    <th>人氣</th>
                    <%# /管理員頁面才有的 %>
                    <th>解答與否</th>
                    <th>更改解答</th>
                    <th>刪除問題</th>
                    <%# /管理員頁面才有的 %>
                </tr>
            </thead>
                <tbody>
                <% for(var i=0; i<question.length; i++) {%>
                    <tr id="<%= question[i].id %>" class="<%= question[i].id %> <%= question[i].Type %> Q">
                        <td><%= question[i].Type %></td>
                        <td class="title" type="button" data-toggle="modal" data-target="#<%= question[i].id %>"><%= question[i].Title %></td>
                        <td><%= Time(question[i].CreateDate) %></td>
                        <td class="view" style="text-align: center"><%= question[i].Click %></td>
                        <%# /管理員頁面才有的 %>
                        <% if(question[i].Answer) {%>
                            <td class="admin">是</td>
                            <td class="admin" type="button" data-toggle="modal" data-target="#<%= question[i].id %>-edit">編輯答案</td>
                        <%} 
                        else{%>
                            <td class="admin">否</td>
                            <td class="admin" type="button"  data-toggle="modal" data-target="#<%= question[i].id %>-edit">新增答案</td>
                        <%} 
                        %>
                        <td type="button" class="deleteQ admin" id="<%= question[i].id %>"><a method="get" href="/qna/delete/<%= question[i].id %>" role="button">刪除問題</a></td>
                        <%# /管理員頁面才有的 %>
                    </tr>
                   
                        <%#顯示問題跟答案的Modal%>
                        <div class="modal fade bd-example-modal-lg" id="<%= question[i].id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content QA">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel"><%= question[i].Title %></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body"><h5>Question</h5></div>
                                    <div class="modal-body"><%= question[i].Content %></div>
                                    <div class="modal-body"><h5>Answer</h5></div>
                                    <div class="modal-body"><%= question[i].Answer %></div>
                                    <div class="modal-body"></div>
                                    <div class="modal-footer">
                                        <img src="OK.png" type="button" class="closemodal" data-dismiss="modal" >
                                        <!-- <button type="button" class="btn btn-primary closemodal" data-dismiss="modal">OK</button> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%#新增/編輯答案的Modal%>
                        <div class="modal fade bd-example-modal-lg" id="<%= question[i].id %>-edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel"><%= question[i].Title %></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                        
                                    <%if(question[i].Answer){%>
                                        <form name="update" action="/qna/update/<%= question[i].id %>" method="post">
                                                <div class="modal-body"><h5>Question 問題</h5></div>
                                                <div class="modal-body"><%= question[i].Content %></div>
                                                <div class="modal-body"><h5>Answer 答案</h5></div>
                                                <div class="modal-body"><h5>編輯答案</h5>
                                                    <br>
                                                    <textarea id="<%= i %>"  class="answer" required="required" name="Answer" rows="5"><%= question[i].Answer %></textarea>  
                                                </div>
                                                <div class="modal-body">
                                                    <input class="checktop" id="<%= question[i].id %>" type="checkbox" name="isTop">將本文設為置頂</input>
                                                </div>
                                                <div class="modal-footer">
                                                    <input class="btn btn-primary submit submitbtn" type="submit" value="更改答案">
                                                    <button 
                                                    <button type="button" class="btn btn-secondary closebtn" data-dismiss="modal">關 閉</button>
                                                </div>    
                                        </form>
                                    <%}
                                    else{%>
                                        <form name="adda" action="/qna/adda/<%= question[i].id %>" method="post">
                                            <div class="modal-body"><h5>Question 問題</h5></div>
                                            <div class="modal-body"><%= question[i].Content %></div>
                                            <div class="modal-body"><h5>輸入解答</h5>
                                                <br>
                                                <textarea id="<%= i %>"  class="answer" required="required" name="Answer" rows="5"></textarea>
                                            </div>
                                            <div class="modal-body">
                                                <input type="checkbox">將本文設為置頂</input>
                                            </div>
                                            <div class="modal-footer">
                                                <input class="btn btn-primary submit" type="submit" value="送出答案"> 
                                                <button type="button" class="btn btn-secondary closebtn" data-dismiss="modal">關 閉</button>
                                            </div>
                                        </form>      
                                    <%}
                                    %>     
                                </div>
                            </div>
                        </div>
                        <%/*成功刪除問題的Modal*/%>
                    
                <% } %>
            </tbody>
        </table>
    </main>
    <footer>
        <% include ../layout/footer %>
    </footer>
        <% include ../layout/js %>
        <% include js %>
</body>
</html>
