<!DOCTYPE html>
<html>
<head>
    <% include ../layout/head %>
    <link href="style.css" rel="stylesheet">
</head>
<body>
    <header>
        <% include ../layout/navbar %>
    </header>
    <main>
        <div id="canvas"></div>
        <div id="empty"></div>
        <div id="score">
            <p id="w1">遊戲最高分數</p>
            <p id='point'></p>
        </div>
        <div id="writing">
            <p id="w2">發問紀錄</p>
            <div id="qb">
                <table id="record">
                    <tbody>
                        <tr>
                            <td class="Q">問題</td>
                            <td id="sta">狀態</td>
                            <td id="ope">功能</td>
                        </tr> 
                        <tr>
                            <td><hr></td>  
                        </tr>
                    <% for(var a=question.length-1;a>-1;a--){ %>
                        <% if(question[a].Content.length!==0){ %>
                            <% if(!question[a].DeleteDate){ %>
                                <% if(question[a].Reason.length!==0){ %>
                                        <tr>
                                            <td class="Q"><p class="qt"><%= question[a].Title %></p></td>
                                            <td id="sta">未過審</td>
                                            <td id="ope">
                                                <a data-toggle="modal" data-target="#reason">
                                                    <button>查看</button>
                                                </a>
                                            </td>
                                        </tr>
                                        <div class="modal fade" id="reason" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h2 class="modal-title" id="exampleModalLongTitle">未過審原因</h2>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <%= question[a].Reason %>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                <% }else{ %>
                                    <% if(question[a].Answer.length!==0){ %>
                                            <tr>
                                                <td class="Q"><p class="qt"><%= question[a].Title %></p></td>
                                                <td id="sta">已審核</td>
                                                <td id="ope">
                                                    <a data-toggle="modal" data-target="#<%=  question[a].id %>">
                                                        <button>查看</button>
                                                    </a>
                                                </td>
                                            </tr>
                                            <div class="modal fade bd-example-modal-lg" id='<%=  question[a].id %>' tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                                <div class="modal-dialog modal-lg" role="document">
                                                    <div class="modal-content QA">
                                                        <div class="modal-header">
                                                            <h2 class="modal-title" id="exampleModalLongTitle"><%= question[a].Title %></h2>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body"><h5 class="blueLetter">Q</h5><h5 style="display: inline;font-weight:bold;">uestion</h5></div>
                                                        <div class="modal-body"><%= question[a].Content %></div>
                                                        <div class="modal-body"><h5 class="blueLetter">A</h5><h5 style="display: inline;font-weight:bold;">nswer</h5></div>
                                                        <div class="modal-body"><%- question[a].Answer %></div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-primary closemodal" data-dismiss="modal">　O K　</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    <% }else{ %>
                                            <tr>
                                                <td class="Q"><p class="qt"><%= question[a].Title %></p></td>
                                                <td id="sta">審核中</td>
                                                <td id="ope">
                                                    <a href="deleteQna/<%= question[a]._id %>" onclick="return confirm('是否要刪除?');">
                                                        <button>刪除</button>
                                                    </a>
                                                </td>
                                            </tr>
                                    <% } %>
                                <% } %>
                            <% } %>
                        <% } %>
                    <% } %>
                    </tbody>
                </table>
            </div>
        </div>
        <div class='space'>
            <a href="/smallgame"><button id="btn1">小遊戲</button></a>
        </div>
        <div class='space'>
            <a href="/qna"><button id="btn2">我要發問</button></a>
        </div>
        <div class='space'>
            <a href="https://goo.gl/forms/3Xk8HAkeKQiodR7r1"><button id="btn3">問卷調查</button></a>
        </div>
        <div id="box">
            <div id="pbox">
                <a data-toggle="modal" data-target="#changep">
                    <img src="/personal/bighead/<%= picname %>" id="pic">
                </a>
            </div>
            <h2 id="namae"></h2>
            <h5 id="number"></h5>
        </div>
    </main>
    <div class="modal fade" id="changep" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>更改圖片</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="editPicture" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="elecategory">圖片</label>
                            <div class="col-md-12">
                                <input type="file" class="form-control input-md" name="picture">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">新增</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <% include ../layout/footer %>
    </footer>
        <% include ../layout/js %>
        <% include js %>
</body>
</html>
