<!DOCTYPE html>
<html>
<head>
    <% include ../layout/head %>
    <link rel="stylesheet" type="text/css" href="about/fullPage.js-master/dist/fullpage.css" />
    <% /* This following line is optional. Only necessary if you use the option css3:false and you want to use other easing effects rather than "easeInOutCubic". */%>
    <% /* <script src="vendors/easings.min.js"></script>*/ %>
    <% /* This following line is only necessary in the case of using the option `scrollOverflow:true` */%>
    <% /* <script type="text/javascript" src="vendors/scrolloverflow.min.js"></script> */%>
    <script type="text/javascript" src="about/fullPage.js-master/dist/fullpage.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/velocity-animate@1.5.0/velocity.min.js"></script>
    <style>
        .slider_container{
            width:  100%;
            height: 100%;
            display: block;
        }
        .img_container {
            width:  100%;
            height: 100%;
            -webkit-animation: round 63s linear infinite;
            animation: round 63s linear infinite;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            filter: alpha(opacity=0);
            background-size: cover;
            background-position: 40% center;
        }
        body {
            background: url("index/ncu首頁.png") no-repeat 83% 10% fixed; 
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
            background-size: cover;
        }
        #c1 {
            background-image: url("index/IMG-0.png");
        }
        #c2 {
            background-image: url("index/IMG-1.png");
        }
        #c3 {
            background-image: url("index/IMG-2.png");
        }
        #c4 {
            background-image: url("index/IMG-3.png");
        }
        #c5 {
            background-image: url("index/IMG-4.png");
        }
        #c6 {
            background-image: url("index/IMG-5.png");
        }
        #c7 {
            background-image: url("index/IMG-6.png");
        }
        #c8 {
            background-image: url("index/IMG-7.png");
        }
        #c9 {
            background-image: url("index/IMG-8.png");
        }
        @-webkit-keyframes round {
            0% {
                opacity: 0;
                filter: alpha(opacity=0);
                background-position: 40% center;
            }
            2.5% {
                opacity: 1;
                filter: alpha(opacity=1);
            }
            6.25% {
                background-position: 50% center;
            }
            12.5% {
                opacity: 1;
                filter: alpha(opacity=1);
            }
            15% {
                opacity: 0;
                filter: alpha(opacity=0);
                background-position: 60% center;
            }
        }
        @keyframes round {
            0% {
                opacity: 0;
                filter: alpha(opacity=0);
                background-position: 40% center;
            }
            2.5% {
                opacity: 1;
                filter: alpha(opacity=1);
            }
            6.25% {
                background-position: 50% center;
            }
            12.5% {
                opacity: 1;
                filter: alpha(opacity=1);
            }
            15% {
                opacity: 0;
                filter: alpha(opacity=0);
                background-position: 60% center;
            }
        }
        .slider_container div:nth-child(9) , #c9 {
            -webkit-animation-delay: -5s;
                    animation-delay: -5s;
        }

        .slider_container div:nth-child(8) , #c8 {
            -webkit-animation-delay: 2s;
                    animation-delay: 2s;
        }

        .slider_container div:nth-child(7) , #c7 {
            -webkit-animation-delay: 9s;
                    animation-delay: 9s;
        }

        .slider_container div:nth-child(6) , #c6 {
            -webkit-animation-delay: 16s;
                    animation-delay: 16s;
        }

        .slider_container div:nth-child(5) , #c5 {
            -webkit-animation-delay: 23s;
                    animation-delay: 23s;
        }

        .slider_container div:nth-child(4) , #c4 {
            -webkit-animation-delay: 30s;
                    animation-delay: 30s;
        }

        .slider_container div:nth-child(3) , #c3 {
            -webkit-animation-delay: 37s;
                    animation-delay: 37s;
        }

        .slider_container div:nth-child(2) , #c2 {
            -webkit-animation-delay: 44s;
                    animation-delay: 44s;
        }

        .slider_container div:nth-child(1) , #c1 {
            -webkit-animation-delay: 51s;
                    animation-delay: 51s;
        }
        .latest-news-btn {
            z-index: 1;
            vertical-align: bottom;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
        }
        #down-btn {
            display: block;
            margin-right: auto;
            margin-left: auto;
            width: 15vh;
        }
        #down-img {
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 20px;
            width: 15vh;
        }
        #down-text {
            width: inherit;
            display:inline-block;
            text-align: center;
            font-size: 2em;
        }
        #news-box {
            min-height: 100px;
            height: 80vh;
            width: 70vw;
        }
        #select-bar {
            height: 48px;
        }
        #box1 {
            overflow-y: scroll;
            height: calc(80vh - 48px - 3rem);
            border-radius: 0 0 2% 2%;
            background-color: rgba(255,255,255,0.9);
        }
    </style>
    <style>
        * {
            box-sizing: border-box;
        }

        #scrolling {
            overflow: scroll;
        }
        
        /* The actual timeline (the vertical ruler) */
        .timeline {
            position: relative;
            max-width: 1200px;
            margin: 0 auto;
        }
        
        /* The actual timeline (the vertical ruler) */
        .timeline::after {
            content: '';
            position: absolute;
            width: 6px;
            background-color: white;
            top: 0;
            bottom: 0;
            left: 50%;
            margin-left: -3px;
        }
        
        /* Container around content */
        .timeline-container {
            padding: 10px 40px;
            position: relative;
            background-color: inherit;
            width: 50%;
        }
        
        /* The circles on the timeline */
        .timeline-container::after {
            content: '';
            position: absolute;
            width: 25px;
            height: 25px;
            right: -17px;
            background-color: white;
            border: 4px solid #FF9F55;
            top: 15px;
            border-radius: 50%;
            z-index: 1;
            box-sizing: content-box;
        }
        
        /* Place the container to the left */
        .left {
            left: 0;
        }
        
        /* Place the container to the right */
        .right {
            left: 50%;
        }
        
        /* Add arrows to the left container (pointing right) */
        .left::before {
            content: " ";
            height: 0;
            position: absolute;
            top: 22px;
            width: 0;
            z-index: 1;
            right: 30px;
            border: medium solid white;
            border-width: 10px 0 10px 10px;
            border-color: transparent transparent transparent white;
        }
        
        /* Add arrows to the right container (pointing left) */
        .right::before {
            content: " ";
            height: 0;
            position: absolute;
            top: 22px;
            width: 0;
            z-index: 1;
            left: 30px;
            border: medium solid white;
            border-width: 10px 10px 10px 0;
            border-color: transparent white transparent transparent;
        }
        
        /* Fix the circle for containers on the right side */
        .right::after {
            left: -16px;
        }
        
        /* The actual content */
        .content {
            padding: 20px 30px;
            background-color: white;
            position: relative;
            border-radius: 6px;
        }
        
        /* Media queries - Responsive timeline on screens less than 600px wide */
        @media screen and (max-width: 600px) {
            /* Place the timelime to the left */
            .timeline::after {
            left: 31px;
            }
            
            /* Full-width containers */
            .timeline-container {
            width: 100%;
            padding-left: 70px;
            padding-right: 25px;
            }
            
            /* Make sure that all arrows are pointing leftwards */
            .timeline-container::before {
            left: 60px;
            border: medium solid white;
            border-width: 10px 10px 10px 0;
            border-color: transparent white transparent transparent;
            }
        
            /* Make sure all circles are at the same spot */
            .left::after, .right::after {
            left: 15px;
            }
            
            /* Make all right containers behave like the left ones */
            .right {
            left: 0%;
            }
        }
    </style>
</head>
<body>
    <header>
        <% include ../layout/navbar %>
    </header>
    <main>
        <div id="fullpage">
            <div class="section" id="7">
                <div class="latest-news-btn">
                    <a href="#news-Q&A" id="down-btn">
                        <img id="down-img" src="index/down-arrow-in-small-circle.svg">
                    </a>
                </div>
                <div class="img_container" id="c1"></div>
                <div class="img_container" id="c2"></div>
                <div class="img_container" id="c3"></div>
                <div class="img_container" id="c4"></div>
                <div class="img_container" id="c5"></div>
                <div class="img_container" id="c6"></div>
                <div class="img_container" id="c7"></div>
                <div class="img_container" id="c8"></div>
                <div class="img_container" id="c9"></div>
            </div>
            <div class="section">
                <div id="news-text">
                    <h1 class="text-center">最新消息</h1>
                    <h6 class="text-center">隨時掌握最新動態</h6>
                </div>
                <div id="news-box" class="mx-auto mt-5">
                    <div>
                        <div class="d-inline-block w-100 select-bar">
                            <ul class="nav nav-pills nav-fill">
                                <li class="nav-item ">
                                    <a class="nav-item nav-link active" id="news-halo">
                                        <h2 class="text-center nav-item" onclick="news_page();">即時資訊</h2>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-item nav-link" id="qna-halo">
                                        <h2 class="text-center" onclick="qna_page();">熱門Q&A</h2>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div id="box1">
                            <table class="table" id="one">
                                <tbody>
                                    <%_ for(let i = 0;i<news.length;i++){ -%>
                                    <tr>
                                        <td><%= news[i].time.toISOString().substring(0, 10) %></td>
                                        <td><%= news[i].title %></td>
                                        <td>more</td>
                                    </tr>
                                    <%_ } -%>
                                </tbody>
                            </table>
                            <table class="table" id="two" style="display: none;">
                                <tbody>
                                    <%_ for(let i = 0;i<qna.length;i++){ -%>
                                    <tr>
                                        <td><%= qna[i].CreateDate.toISOString().substring(0, 10) %></td>
                                        <td><%= qna[i].Title %></td>
                                        <td><%= qna[i].Click %>人次點閱</td>
                                    </tr>
                                    <%_ } -%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section fp-auto-height">
                <div>
                    <h1 class="mx-auto">近期日程</h1>
                </div>
                <div class="week-btn bg-light">
                    <h3>前一周</h3>
                </div>
                <div id="scrolling">
                    <div class="timeline" id="QQQQQ">
                        <%_ /* -%>
                        <%_ let ooo = true; -%>
                        <%_ for (let i = 0;i<10;i++){ -%>
                            <div>
                                <%_ for (let i = 0;i<10;i++){ -%>
                                <div class="timeline-container <%= (ooo ? 'left' : 'right') %>">
                                    <div class="content">
                                    <h2>08/01</h2>
                                    <ul>
                                        <li>aaaaa</li>
                                        <li>aaaaa</li>
                                        <li>aaaaa</li>
                                        <li>aaaaa</li>
                                        <li>aaaaa</li>
                                    </ol>
                                    </div>
                                </div>
                                <%_ ooo = (ooo ? false : true); -%>
                                <%_ } -%>
                            </div>
                        <%_ } -%>
                        <%_ */ -%>
                    </div>
                </div>
                <div class="week-btn bg-light">
                    <h3>後一週</h3>
                </div>                
            </div>
        </div>

    </main>
    <footer>
        <% include ../layout/footer %>
    </footer>
        <% include ../layout/js %>
        <% include js %>
</body>
</html>
