<!DOCTYPE html>
<html>
<head>
    <% include ../layout/head %>
    <link rel='stylesheet' href='department.css'>
</head>
<body>
    <header>
        <% include ../layout/navbar %>
    </header>
    <main>
      <% let ffffffff  = [["文學院","literature"],["理學院","science"],["管理學院","management"],["工學院","engineering"],["資訊電機學院","csee"],["地球科學學院","earth"],["客家學院","hakka"],["生醫理工學院","chst"]]%>
      <!--左側按鈕-->
      <div id="combut">
        <img src="系所社團飛船修正版地底電子幕_去被.png" class="leftbox">
        <% for(let p = 1; p<=8 ; p++) {%>
          <button class="<%= ffffffff[p-1][1] %>_button" id="but_<%= p %>"><%= ffffffff[p-1][0] %></button></br>
        <%}%>
      </div>          
      <!-- 麵包屑 -->
      <nav aria-label="breadcrumb" id="bread">
          <ol class="breadcrumb" id="breadcru">
            <li class="breadcrumb-item" ><a href="/groups/student" id="text_stu">學生會</a></li>
            <li class="breadcrumb-item active" aria-current="page" id="text_at">系所</li>
            <li class="breadcrumb-item"><a href="/groups/club" id="text">社團</a></li>
            <li class="breadcrumb-item"><a href="/groups/community" id="text">其他學生組織</a></li>
          </ol>
      </nav>
      <img src="標題_去被.png" class="titleup">
      <div id="cellup">
        <img src="系所社團畫框上(修)_去被.png" class="sideup">
        <img src="系所社團電子框上_去被.png" class="boxup">
        <div class="buttonup" id="cellbut">
          <% for(let p = 1; p<=8 ; p++) {%>
            <button class="<%= ffffffff[p-1][1] %>_button" id="butcell_<%= p %>"><%= ffffffff[p-1][0] %></button>
          <%}%>
        </div>
      </div>
      
      <%_ if (user && user.role === 'admin'){ -%>
        <!-- 新增圖片按鈕 -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" id="update1">
          新增圖片
        </button>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">新增圖片</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form method="post" enctype="multipart/form-data" action="departinsert_img">
                  <div class="form-group">
                    <input type="file" name="uploadingImg">
                    <!-- 選擇圖片要放的位置 -->
                    <label for="pic_type" class="form-control">圖片位置</label>
                    <select name="pic_type" id="pic_type" class="form-control">
                      <option value="1">系所介紹</option>
                      <option value="2">系學會</option>
                      <option value="3">系上活動</option>
                      <option value="4">系隊</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <!-- 圖片所屬社團 -->
                    <label for="depart_id" class="form-control">系所</label>
                    <select name="depart_id" id="departid" class="form-control">
                      <% for(var i in department){%>
                        <option value="<%= department[i]._id %>"><%= department[i].name %></option>
                      <%}%>
                    </select>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">上傳</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        
        <!-- 新增編輯button -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add_department" id="update2">新增/編輯系所</button><br></br>
        <!--  新增編輯系所的Modal -->
        <div class="modal fade" id="add_department" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">新增/編輯系所</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form action="/groups/add_department" method="post" accept-charset="utf-8">
                  <div class="form-group">
                    <!-- 選擇類別 -->
                    <label for="type" class="form-control">系所學院</label>
                    <select name="type" id="edit_type" class="form-control">
                      <option value="1文學院">文學院</option>
                      <option value="2理學院">理學院</option>
                      <option value="3管理學院">管理學院</option>
                      <option value="4工學院">工學院</option>
                      <option value="5資訊電機學院">資訊電機學院</option>
                      <option value="6地球科學學院">地球科學學院</option>
                      <option value="7客家學院">客家學院</option>
                      <option value="8生醫理工學院">生醫理工學院</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="name" class="form-control">系所名稱</label>
                    <input type="text" class="form-control" id="edit_name" name="name">
                  </div>
                  <div class="form-group">
                    <label for="introduction" class="form-control">系所介紹</label>
                    <textarea name="introduction" id="edit_introduction" rows="5" cols="55"></textarea></br>
                  </div>
                  <div class="form-group">
                    <label for="organization" class="form-control">系學會</label>
                    <textarea name="organization" id="edit_organization" rows="5" cols="55"></textarea></br>
                  </div>
                  <div class="form-group">
                    <label for="activity" class="form-control">系所活動</label>
                    <textarea name="activity" id="edit_activity" rows="5" cols="55"></textarea></br>
                  </div>
                  <div class="form-group">
                    <label for="team" class="form-control">系隊</label>
                    <textarea name="team" id="edit_team" rows="5" cols="55"></textarea></br>
                  </div>
                  <div class="form-group">
                    <label for="course" class="form-control">系上課程</label>
                    <textarea name="course" id="edit_course" rows="5" cols="55"></textarea></br>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                    <button type="submit" class="btn btn-primary">儲存</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <%_ } -%> 
  
        
        <!-- 根據按鈕選出相對類別 -->
          <%for (let q = 1 ;q<=8;q++){%>
            <table class="<%= ffffffff[q-1][1] %>_table" id="table_<%= q %>">
              <thead>
                <tr>
                  <th><%= ffffffff[q-1][0] %></th>
                </tr>
              </thead>
              <tbody>
                <% for(var i in department) {%>
                  <% if(department[i].type == q) {%>
                    <tr>
                      <td><a href="#<%= department[i].name %> " data-toggle="modal" class="department_content open" id="tabletext" search="<%= department[i]._id %>"
                      data-target="#depmodal">・<%= department[i].name %></a></td>
                    </tr>
                  <%}%>
                <%}%> 
              </tbody>
            </table>
          <% } %>
        <% for(var i in department){ %>
          <!-- 社團介紹 Modal -->                            
            <div class="modal fade bd-example-modal-lg" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" id ="depmodal"><!-- 根據資料庫id判斷modal內容 --> 
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel"><!-- <%= department[i].name %> --></h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="container">
                      <div id="scroll_nav">
                        <ul class="nav nav-pills flex-column" id="nav_ul">
                          <li id="modal_button"><a class="nav-link active" data-toggle="pill" id="nav_a" href="#introduction_<%= department[i].name %>">系所介紹</a></li>
                          <% if(department[i].name[department[i].name.length-1] === "系"){ %>
                            <li id="modal_button"><a class="nav-link" data-toggle="pill" id="nav_a" href="#organization_<%= department[i].name %>">系學會</a></li>
                            <li id="modal_button"><a class="nav-link" data-toggle="pill" id="nav_a" href="#activity_<%= department[i].name %>">系所活動</a></li>
                            <li id="modal_button"><a class="nav-link" data-toggle="pill" id="nav_a" href="#team_<%= department[i].name %>">系隊</a></li>
                            <li id="modal_button"><a class="nav-link" data-toggle="pill" id="nav_a" href="#course_<%= department[i].name %>">系上課程</a></li> 
                            <li id="modal_button"><a class="nav-link" data-toggle="pill" id="nav_i" href="#lightning_round_<%= department[i].name %>" 
                              ytID="<% for(let i = 0;　i<QAvideo.length;　i++){ if(QAvideo[i].title === department[i].name){%><%= QAvideo[i].insert %><% break;}}%>">快問快答</a></li>
                          <%}%>
                          <% if(department[i].name[department[i].name.length-1] === "所"){ %>
                            <li id="modal_button"><a class="nav-link" data-toggle="pill" id="nav_a" href="#organization_<%= department[i].name %>">知道更多</a></li>
                          <%}%>
                        </ul>
                      </div>
                      <div class="tab-content">
                        <div id="introduction_<%= department[i].name %>" class="tab-pane active">
                          <h5>系所介紹</h5>  
                          <h6 class="intro"><!-- <%- department[i].introduction %> --></h6>

                          <div id="carouselExampleIndicator1" class="carousel slide" data-ride="carousel">
                              <ol class="carousel-indicators" id="carousel1">

                              </ol>
                              <div class="carousel-inner">

                              </div>
                              <a class="carousel-control-prev" href="#carouselExampleIndicator1" role="button" data-slide="prev">
                                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                  <span class="sr-only">Previous</span>
                              </a>
                              <a class="carousel-control-next" href="#carouselExampleIndicator1" role="button" data-slide="next">
                                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                  <span class="sr-only">Next</span>
                              </a>
                          </div>
                        </div>
                        <!-- 區分系.所的modal內容 -->
                        <% if(department[i].name[department[i].name.length-1] === "系"){ %>
                          <div id="organization_<%= department[i].name %>" class="tab-pane fade in">
                            <h5>系學會</h5>
                            <h6 class="org"><!-- <%- department[i].organization %> --></h6>

                            <div id="carouselExampleIndicator2" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators" id="carousel2">

                                </ol>
                                <div class="carousel-inner">

                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleIndicator2" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleIndicator2" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                          </div>
                          <div id="activity_<%= department[i].name %>" class="tab-pane fade in">
                            <h5>系所活動</h5>
                            <h6 class="acti"><!-- <%- department[i].activity %> --></h6>

                            <div id="carouselExampleIndicator3" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators" id="carousel3">

                                </ol>
                                <div class="carousel-inner">

                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleIndicator3" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleIndicator3" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                          </div>
                          <div id="team_<%= department[i].name %>" class="tab-pane fade in">
                            <h5>系隊</h5>
                            <h6 class="team"><!-- <%- department[i].team %> --></h6>

                            <div id="carouselExampleIndicator4" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators" id="carousel4">

                                </ol>
                                <div class="carousel-inner">

                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleIndicator4" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleIndicator4" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                          </div>                          
                          <div id="course_<%= department[i].name %>" class="tab-pane fade in">
                            <h5>系上課程</h5>
                            <h6 class="cour"><!-- <%- department[i].course %> --></h6>
                          </div>
                          <div id="lightning_round_<%= department[i].name %>" class="tab-pane fade in">
                            <h5>快問快答</h5>
                            <div class='CDplayer'><!--影片-->
                              <% for(let i = 0;　i<QAvideo.length;　i++){ %>
                                <div class="kkk" iiiii="<%= QAvideo[i].title %>">
                                  <div id='<%= QAvideo[i].insert %>' class='player'></div>
                                </div>
                              <% } %>
                            </div>
                          </div>
                        <% } %>
                        <!-- 區分系.所的modal內容 -->
                        <% if(department[i].name[department[i].name.length-1] === "所"){ %>
                          <div id="organization_<%= department[i].name %>" class="tab-pane fade in">
                            <h5>知道更多</h5>
                            <h6 class ="org"><!-- <%- department[i].organization %> --></h6>
                          </div>
                        <% } %>
                      </div>
                    </div> 
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div> 
        <%}%>                       
        <img src="系所社團畫框下_去被.png" class="sidedown">
        
    </main>
    <footer>
        <% include ../layout/footer %>
    </footer>
        <!-- <% include ../layout/js %> -->
        <% include department_js %>
</body>
</html>
