<!DOCTYPE html>
<html>
<head>
    <% include ../layout/head %>
    <link rel='stylesheet' href='student.css'>
</head>
<body>
    <header>
        <% include ../layout/navbar %>
    </header>
    <main>
        <!-- edit Modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#edit_student">編輯學生會介紹</button>
        <div class="modal fade" id="edit_student" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">學生會介紹</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
               <div class="modal-body">
                   <form action="/groups/edit_student" method="post" accept-charset="utf-8">
                        <div class="form-group">
                            <label for="introduction" class="form-control">簡介</label>
                            <textarea name="introduction" rows="8" cols="55" id="edit_introduction"></textarea></br>
                        </div>
                        <div class="form-group">
                            <label for="branch" class="form-control">部門介紹</label>
                            <textarea name="branch" rows="5" cols="55" id="edit_branch"></textarea></br>
                        </div>
                        <div class="form-group">
                            <label for="activity" class="form-control">活動剪影</label>
                            <textarea name="activity" rows="5" cols="55" id="edit_activity"></textarea></br>
                        </div>
       
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                        <button type="submit" class="btn btn-primary">儲存</button>
                    </div>
                   </form>
                </div>
            </div>
           </div>
        </div>
        
        <h1><%= title %></h1>
        <% let student_button = [["intro","簡介"],["branch","部門介紹"],["activity","活動剪影"]] %>
        <div class="btn-group-vertical">
            <% for(let p=0; p<3; p++){%>
                <button type="button" class="btn btn-outline-dark" data-toggle="modal" 
                data-target="#<%= student_button[p][0] %>"><%= student_button[p][1] %></button><br></br>
            <%}%>
        </div>
        <!-- 簡介 Modal -->
        <div class="modal fade bd-example-modal-lg " role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" id="intro">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel">簡介</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <h6><%= student[0].introduction %></h6>  
                        </div> 
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 部門介紹 Modal -->
        <div class="modal fade bd-example-modal-lg " role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" id="branch">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel">部門介紹</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <h6><%= student[0].branch %></h6>  
                        </div> 
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 活動剪影 Modal -->
        <div class="modal fade bd-example-modal-lg " role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" id="activity">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel">活動剪影</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">  
                            <h6><%= student[0].activity %></h6>
                            </div>
                        </div> 
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

    </main>
    <footer>
        <% include ../layout/footer %>
    </footer>
        <% include ../layout/js %>
        <% include js %>
</body>
</html>
