<!DOCTYPE html>
<html>
<head>
    <% include ../layout/head %>
    <link rel='stylesheet' href='video.css' />
    
    
</head>
<body>
    <header>
        <% include ../layout/navbar %>
    </header>
    <main>
        <!--
        <div class="video_item_title_allvideo ">
            <div class="video_item">中大長劇</div>
            <div class="video_item">快問快答</div>
            <div class="video_item">悠遊中大</div>
        </div>-->
        <%_ if (user && user.role === 'admin'){ -%>
            <!-- Button trigger modal -->
            <button type="button" class="update turn btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    更新影片
            </button>
                
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">                
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <form action="/video/add" method="post">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">更新影片</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"  accept-charset="utf-8">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <!--<input name="introduce" type="file" class="form-control-file" id="exampleFormControlFile1">-->
                                <!-- <p class="alert">*請按照順序上傳!!!</p> -->
                                <input  name="insert" class="form-control" type="text" placeholder="輸入影片ID(youtube嵌入碼src裡'embed/'後面的那串)">
                                <select name="title" class="form-control">
                                    <option disabled selected>請選擇</option>
                                    <option value="1翻譯香蕉">中大長劇-翻譯香蕉</option>
                                    <option value="1如你所願3310">中大長劇-如你所願3310</option>
                                    <option value="1相反世界的鏡子">中大長劇-相反世界的鏡子</option>
                                    <option value="1落難之盆">中大長劇-落難之盆</option>
                                    <option value="1起源">中大長劇-起源</option>
                                    <option value="21中文">快問快答-中國文學系</option>
                                    <option value="21英文">快問快答-英美語文學系</option>
                                    <option value="21法文">快問快答-法國語文學系</option>
                                    <option value="22理學院學士班">快問快答-理學院學士班</option>
                                    <option value="22物理">快問快答-物理學系</option>
                                    <option value="22數學">快問快答-數學系</option>
                                    <option value="22化學">快問快答-化學學系</option>
                                    <option value="22光電">快問快答-光電科學與工程學系</option>
                                    <option value="23企管">快問快答-企業管理學系</option>
                                    <option value="23資管">快問快答-資訊管理學系</option>
                                    <option value="23財金">快問快答-財務金融學系</option>
                                    <option value="23經濟">快問快答-經濟學系</option>
                                    <option value="24化材">快問快答-化學工程與材料工程學系</option>
                                    <option value="24土木">快問快答-土木工程學系</option>
                                    <option value="24機械">快問快答-機械工程學系</option>
                                    <option value="24工學院學士班">快問快答-工學院學士班</option>
                                    <option value="25電機">快問快答-電機工程學系</option>
                                    <option value="25資工">快問快答-資訊工程學系</option>
                                    <option value="25通訊">快問快答-通訊工程學系</option>
                                    <option value="25資訊電機學院學士班">快問快答-資訊電機學院學士班</option>
                                    <option value="26地科">快問快答-地球科學學系</option>
                                    <option value="26大氣">快問快答-大氣科學學系</option>
                                    <option value="27客家">快問快答-客家語文暨社會科學學系</option>
                                    <option value="28生科">快問快答-生命科學系</option>
                                    <option value="28生醫">快問快答-生醫科學與工程學系</option>
                                    <option value="3食">悠遊中大-食</option>
                                    <option value="3住">悠遊中大-住</option>
                                    <option value="3行">悠遊中大-行</option>
                                    <option value="3育">悠遊中大-育</option>
                                    <option value="3樂">悠遊中大-樂</option>
                                    <option value="3中央知多少上">悠遊中大-中央知多少上</option>
                                    <option value="3中央知多少下">悠遊中大-中央知多少下</option>
                                </select>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="sibmit" class="btn btn-primary">更新</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        <%_ } -%>
        
        <div unselectable="on" class="top">
            <div id="CDbox" class='video-container'>
            <!--影音專區(光碟盒圖片)-->
            <div class='CDplayer'><!--影片-->
                <% for(let i = 0;　i<video.length;　i++){ %>
                    <div id='<%= video[i].insert %>' class='player'></div>
                <% } %>
            </div>
            <div class="CDpicture"><!--影片介紹-->
                <% for(let i = 0;　i<video.length;　i++){ %>
                    <img class="<%= video[i].insert %> picture"  src='<%= video[i].type %>/<%= video[i].title %>.png'>
                <% } %>
            </div>
            </div>
            <!-- 電腦版 -->
            <div class="computer">
                <img src="button/影片介紹.png" picture="button/影片介紹" class="rotate sbtn button rotate_out">
            </div>
            <!-- 手機版 -->
            <div class="cellphone">
                <button class="rotate btn-outline-title sbtn button">簡介</button>
            </div>
        </div>
       
        <!-- 測試youtube影片 -->
        <!--<div class=video-container>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/JwjBbWQs71k" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>-->

        <!-- 左邊大標題 -->
        <table unselectable="on" class="video_item_title_allvideo ">
            <td>
                <button unselectable="on" type="button" video="longvideo" class="video_item btn-outline-title turn  longvideo button">中大長劇</button>
            </td>
            <td>
                <button unselectable="on" type="button" video="QAvideo" class="video_item btn-outline-title turn  QAvideo button">快問快答</button>
            </td>
            <td>
                <button unselectable="on" type="button"  video="lifevideo" class="video_item btn-outline-title turn lifevideo button">悠遊中大</button>
            </td>
        </table>

        <!-- 電腦頁面(選項以圖片為主) -->
        <img unselectable="on" src="button/1/光碟.png" class="bigCD bigCD_stop" id="bigCD">
        <img unselectable="on" src="button/1/光碟.png" class="bigCD_position_in">
        <img unselectable="on" src="button/1/光碟.png" class="bigCD_position_out">
        <div unselectable="on" class="computer">
            <div unselectable="on" class="bonus1">-別玩了 快看影片啦(#`Д´)ﾉ</div>
            <div unselectable="on" class="bonus2">還玩(╬ﾟдﾟ)<br>我要生氣了喔(╬ﾟдﾟ)▄︻┻┳═一-</div>
            <div unselectable="on" class="bonus3"><img class="bonus3_img" src="太空人_倒.png"><p class="bonus3_word">-不跟你玩了 我累了 我投降(´,_ゝ`)</p></div>
            <div unselectable="on" class="hi">Hi~</div>
            <div unselectable="on" class="man_up_div"><img src="太空人_倒.png" class="man_up man_up_out"></div>
            <div unselectable="on" class="man_right_div"><img src="太空人_側.png" class="man_right man_right_in man"></div>
            <div unselectable="on" class="man_left_div"><img src="太空人_正.png" class="man_left man_left_out man"></div>
                
                
            <table unselectable="on" class="video_item_title ">
                <% for(let i = 0; i<longvideo.length; i++){ %>
                    <td><img unselectable="on" src="button/1/光碟.png" video="longvideo" i=<%= i %> ytID='<%= longvideo[i].insert %>' class='cd item video_item_longvideo sbtn ssbtn turn <%= longvideo[i].title %>_cd'><img cd="<%= longvideo[i].title %>_cd" cdsrc="button/1/光碟.png" src="button/1/<%= longvideo[i].title %>.png" video="longvideo" i=<%= i %> ytID='<%= longvideo[i].insert %>' class='box item video_item_longvideo video_item_longvideo_<%= i+1 %> sbtn ssbtn turn button'></td>
                <% } %>
                <% for(let i = 0; i<QAvideo.length; i++){ %>
                    <td><img unselectable="on" src="button/2/<%= QAvideo[i].college %>光碟.png" video="QAvideo" i=<%= i %> ytID='<%= QAvideo[i].insert %>' class='cd disable item video_item_QAvideo_<%= QAvideo[i].college %> video_item_QAvideo_dep sbtn ssbtn turn <%= QAvideo[i].title %>_cd'><img cd="<%= QAvideo[i].title %>_cd" cdsrc="button/2/<%= QAvideo[i].college %>光碟.png" src="button/2/<%= QAvideo[i].title %>.png" video="QAvideo" i=<%= i %> ytID='<%= QAvideo[i].insert %>' class='box item video_item_QAvideo_<%= QAvideo[i].college %> video_item_QAvideo_dep sbtn ssbtn turn button'></td>
                <% } %>
                <% for(let i = 0; i<lifevideo.length; i++){ %>
                    <td><img unselectable="on" src="button/3/<%= lifevideo[i].title %>光碟.png"  video="lifevideo" i=<%= i %> ytID='<%= lifevideo[i].insert %>' class='cd disable item video_item_lifevideo sbtn ssbtn turn <%= lifevideo[i].title %>_cd'><img cd="<%= lifevideo[i].title %>_cd" cdsrc="button/3/<%= lifevideo[i].title %>光碟.png" src="button/3/<%= lifevideo[i].title %>.png" video="lifevideo" i=<%= i %> ytID='<%= lifevideo[i].insert %>' class='box item video_item_lifevideo  video_item_lifevideo_<%= i+1 %> sbtn ssbtn turn button'></td>
                <% } %>

                <% for(let i = 1; i<9; i++){ %>
                    <td>
                        <!-- <img src="button/c<%= i %>光碟.png" video="QAvideo" class='cd_col item video_item_QAvideo  video_item_QAvideo_<%= i %> sbtn turn' college='c<%= i %>'> -->
                        <img unselectable="on" src="button/c<%= i %>.png" video="QAvideo" class='video_item_QAvideo_col item video_item_QAvideo  video_item_QAvideo_<%= i %> sbtn turn button' college='c<%= i %>'>
                    </td>
                <% } %>
                <td><img unselectable="on" src="button/返回.png" video="QAvideo" class="item video_item_QAvideo_c1 video_item_QAvideo_c2 video_item_QAvideo_c3 video_item_QAvideo_c4 video_item_QAvideo_c5 video_item_QAvideo_c6 video_item_QAvideo_c7 video_item_QAvideo_c8 sbtn video_item button" id="back"></td>
            </table>
        </div>

        <!-- 手機頁面(選項以按鈕為主) -->
        <div unselectable="on" class="cellphone">
            <table unselectable="on" class="video_item_title" id="scrolltable">
                <tbody unselectable="on" id="scroll">
                    <tr>
                        <!-- <td id="scrolltd"><button type='button' disabled class='video_item_QAvideo video_item_lifevideo item btn sbtn btn-outline-item turn video_item_longvideo  video_item_QAvideo_c1 video_item_QAvideo_c2 video_item_QAvideo_c3 video_item_QAvideo_c4 video_item_QAvideo_c5 video_item_QAvideo_c6 video_item_QAvideo_c7 video_item_QAvideo_c8'>文學院</button></td> -->
                        <% for(let i = 0; i<longvideo.length; i++){ %>
                            <td><button unselectable="on" i=<%= i %> type='button' ytID='<%= longvideo[i].insert %>' class='item video_item_longvideo sbtn ssbtn btn-outline-item turn'><%= longvideo[i].title %></button></td>
                        <% } %>
                        <% for(let i = 0; i<QAvideo.length; i++){ %>
                            <td><button unselectable="on" i=<%= i %> type='button' href="#<%= QAvideo[i].title %>" ytID='<%= QAvideo[i].insert %>' class='item video_item_QAvideo_<%= QAvideo[i].college %> video_item_QAvideo_dep sbtn ssbtn btn-outline-item turn'><%= QAvideo[i].title %></button></td>
                        <% } %>
                        <% for(let i = 0; i<lifevideo.length; i++){ %>
                            <td><button unselectable="on" i=<%= i %> type='button' ytID='<%= lifevideo[i].insert %>' class='item video_item_lifevideo sbtn ssbtn btn-outline-item turn'><%= lifevideo[i].title %></button></td>
                        <% } %>
    
                        <td><button unselectable="on" type='button' video="QAvideo" class='item video_item_QAvideo sbtn btn-outline-item turn' college='c1'>文學院</button></td>
                        <td><button unselectable="on" type='button' video="QAvideo" class='item video_item_QAvideo sbtn btn-outline-item turn' college='c2'>理學院</button></td>
                        <td><button unselectable="on" type='button' video="QAvideo" class='item video_item_QAvideo sbtn btn-outline-item turn' college='c3'>工學院</button></td>
                        <td><button unselectable="on" type='button' video="QAvideo" class='item video_item_QAvideo sbtn btn-outline-item turn' college='c4'>管理學院</button></td>
                        <td><button unselectable="on" type='button' video="QAvideo" class='item video_item_QAvideo sbtn btn-outline-item turn' college='c5'>資訊電機學院</button></td>
                        <td><button unselectable="on" type='button' video="QAvideo" class='item video_item_QAvideo sbtn btn-outline-item turn' college='c6'>地球科學學院</button></td>
                        <td><button unselectable="on" type='button' video="QAvideo" class='item video_item_QAvideo sbtn btn-outline-item turn' college='c7'>客家學院</button></td>
                        <td><button unselectable="on" type='button' video="QAvideo" class='item video_item_QAvideo sbtn btn-outline-item turn' college='c8'>生醫理工學院</button></td>
                        
                        <td><button unselectable="on" type="button" video="QAvideo" class="item video_item_QAvideo_c1 video_item_QAvideo_c2 video_item_QAvideo_c3 video_item_QAvideo_c4 video_item_QAvideo_c5 video_item_QAvideo_c6 video_item_QAvideo_c7 video_item_QAvideo_c8 sbtn video_item" id="back">返回</button></td>
                    </tr>
                    
                </tbody>
                
            </table>
        </div>


    </main>
    <footer>
        <% include ../layout/footer %>
    </footer>
        <% include ../layout/js %>
        <% include js %>
</body>
</html>