<!DOCTYPE html>
<html>

<head>
    <% include ../layout/head %>
        <link rel="stylesheet" href="campus.css">

</head>

<body>
    <header>
        <% include ../layout/navbar %>
    </header>
    <main>
        <h1>
            <%= title %>
        </h1>
        <div id="sidebar_left">
            <ul>
                <li>系館</li>
                <li>運動</li>
                <li>餐廳</li>
                <li>商店</li>
                <li>住宿</li>
                <li>行政</li>
                <li>圖書館</li>
                <li>藝文活動</li>
                <li>醫療緊急</li>
                <li>景點</li>
            </ul>
        </div>
        <div id="content">
            <table>
                <thead>
                    <tr id="tablehead">
                        <td>物件名</td>
                        <td>圖片</td>
                        <td>位置&大小</td>
                        <td>內容</td>
                        <td>刪除</td>
                    </tr>

                </thead>
                <tbody>
                    <%_ for (let i in result) { -%>
                        <tr>
                            <td>
                                <%= result[i]['Element_Name'] %>
                            </td>
                            <td>
                                <button class="picedit" type="button" data-toggle="modal" data-target="#editpic<%=i%>" ooo="<%= result[i]['_id'] %>">編輯</button>
                            </td>
                            <!--picedit<%= i %>-->
                            <div class="modal fade" id="editpic<%=i%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="pic-title modal-title-buildpic">物件圖片</h5>
                                            <h5 class="sep">|</h5>
                                            <h5 class="pic-title modal-title-intropic">介紹圖片</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span class=".picclose" aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body imgcontent" ooo="<%= result[i]['_id'] %>">


                                            <img id="output" width="300px" />
                                            <form class="picuploadform" action="/campus/insert_img/<%=result[i]['_id']%>" enctype="multipart/form-data" method="post">
                                                <fieldset>
                                                    <input type="file" name="uploadingImg" accept="image/*" onchange="loadFile(event)">
                                                    <input type="hidden" class="imgtype" name="imgtype">
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary picclose" data-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-primary">上傳</button>
                                                    </div>
                                                </fieldset>
                                            </form>




                                        </div>
                                    </div>
                                </div>
                            </div>
                            <td>
                                <button type="button" data-toggle="modal" data-target="#mapedit<%= i %>" class="editpicposi" xxx="<%=result[i]['_id']%>">編輯</button>
                            </td>
                            <div id="mapedit<%= i %>" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="myModalTitle">位置&大小</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <form action="/campus/saveposition/<%=result[i]['_id']%>" method="POST">
                                            <div class="modal-body">
                                                <label for="x_position">x軸</label>
                                                <input type="text" name="x_position">
                                                <br>
                                                <label for="y_position">y軸</label>
                                                <input type="text" name="y_position">
                                                <br>
                                                <label for="size">圖片大小</label>
                                                <input type="text" name="size">
                                                <br>
                                                <div class="picspace">
                                                    
                                                    <img src="back2.png" alt="mainmap" width="100%">
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary picclose" data-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-primary">上傳</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>



                            <td>
                                <button type="button" data-toggle="modal" data-target="#textedit<%= i %>">編輯</button>
                            </td>
                            <div id="textedit<%= i %>" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Modal title</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form class="form-horizontal" action="/campus/editElement/<%= result[i]['_id']%>" method="POST">
                                                <fieldset>

                                                    <!-- Text input-->
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label" for="elename">物件名稱</label>
                                                        <div class="col-md-6">
                                                            <input name="elename" type="text" class="form-control input-md" value="<%= result[i]['Element_Name'] %>">

                                                        </div>
                                                    </div>

                                                    <!-- Select Basic -->
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label" for="elecategory">類別</label>
                                                        <div class="col-md-6">
                                                            <select id="elecategory<%= i %>" name="elecategory" class="form-control">
                                                                <option value="1">系館</option>
                                                                <option value="2">運動</option>
                                                                <option value="3">餐廳</option>
                                                                <option value="4">商店&amp;郵局&amp;銀行</option>
                                                                <option value="5">住宿</option>
                                                                <option value="6">行政</option>
                                                                <option value="7">圖書館</option>
                                                                <option value="8">藝文中心&amp;活動場地</option>
                                                                <option value="9">醫療&amp;緊急電話</option>
                                                                <option value="10">景點</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <!-- Textarea -->
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label" for="eleintro">物件說明</label>
                                                        <div class="col-lg">
                                                            <textarea class="form-control" rows="8" cols="60" name="eleintro"><%= result[i]['Element_Intro'] %></textarea>
                                                        </div>
                                                    </div>

                                                    <!-- Multiple Radios (inline) -->

                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                                                        <button type="submit" class="btn btn-primary">儲存</button>
                                                    </div>


                                                </fieldset>
                                            </form>
                                        </div>


                                    </div>
                                </div>
                            </div>


                            <td>
                                <a href="delete/<%=result[i]['_id']%>">刪除</a>
                            </td>


                        </tr>
                        <%_ } -%>

                </tbody>
            </table>
        </div>


    </main>
    <footer>
        <% include ../layout/footer %>
    </footer>
    <% include ../layout/js %>
        <% include js2 %>
</body>

</html>