<!DOCTYPE html>
<html>

<head>
    <% include ../layout/head %>
        <link rel="stylesheet" href="campus.css">

</head>

<body>
    <%_ if (user && user.role === 'admin'){ -%>

        <div class="Admin_edit">
            <div class="adminbt">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#adminbutton">新增物件</button>
            </div>
        </div>
        <%_ } -%>
            <div class="modal fade bd-example-modal-lg" id="adminbutton" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">新增物件</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" action="/campus/AddNew_element" method="POST">
                                <fieldset>

                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="elename">物件名稱</label>
                                        <div class="col-md-6">
                                            <input id="elename" name="elename" type="text" placeholder="請輸入" class="form-control input-md">

                                        </div>
                                    </div>

                                    <!-- Select Basic -->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="elecategory">類別</label>
                                        <div class="col-md-6">
                                            <select id="elecategory" name="elecategory" class="form-control">
                                                <option value="0">請選擇</option>
                                                <option value="1">系館</option>
                                                <option value="2">運動</option>
                                                <option value="3">餐廳</option>
                                                <option value="4">設施</option>
                                                <option value="5">住宿</option>
                                                <option value="6">行政</option>
                                                <option value="7">活動場地</option>
                                                <option value="8">緊急醫療</option>
                                                <option value="9">景點</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="radios">一開始隱藏</label>
                                        <div class="col-md-4">
                                            <label class="radio-inline">
                                                <input type="radio" name="radios1" value="0" checked="checked"> 是
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="radios1" value="1"> 否
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="radios">是否有很多個</label>
                                        <div class="col-md-4">
                                            <label class="radio-inline">
                                                <input type="radio" name="radios2" id="radios2-0" value="0"> 是
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="radios2" id="radios2-1" value="1" checked="checked"> 否
                                            </label>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="radios">是否需要modal</label>
                                        <div class="col-md-4">
                                            <label class="radio-inline">
                                                <input type="radio" name="radios3" id="radios2-0" value="0" checked="checked"> 是
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="radios3" id="radios2-1" value="1"> 否
                                            </label>
                                        </div>
                                    </div>




                                    <!-- Textarea -->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="eleintro">物件說明</label>
                                        <div class="col-lg">
                                            <textarea class="form-control" id="adminta2" rows="8" cols="60" id="eleintro" name="eleintro"></textarea>
                                        </div>
                                    </div>



                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                                        <button type="submit" class="btn btn-primary">儲存</button>
                                    </div>


                                </fieldset>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
            <div id="mapedit" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="myModalTitle">位置&大小</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form class="editform">
                            <div class="modal-body">
                                <label for="x_position">x軸</label>
                                <input type="text" name="x_position" value="">
                                <br>
                                <label for="y_position">y軸</label>
                                <input type="text" name="y_position" value="">
                                <br>
                                <label for="size">圖片大小</label>
                                <input type="text" name="size" value="">
                                <input type="hidden" name="mapsize">
                                <input type="hidden" name="ratio">
                                <br>
                                <div class="picspace">

                                    <img src="back2.png" alt="mainmap" width="100%" id="mainmap2">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary picclose" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">上傳</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


            <header>
                <% include ../layout/navbar %>
            </header>
            <div class="modal fade bd-example-modal-lg" id="textedit" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal texteditform" method="POST">
                                <fieldset>

                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="elename">物件名稱</label>
                                        <div class="col-md-6">
                                            <input name="elename" type="text" class="form-control input-md">

                                        </div>
                                    </div>

                                    <!-- Select Basic -->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="elecategory">類別</label>
                                        <div class="col-md-6">
                                            <select name="elecategory" class="form-control">
                                                <option value="1">系館</option>
                                                <option value="2">運動</option>
                                                <option value="3">餐廳</option>
                                                <option value="4">設施</option>
                                                <option value="5">住宿</option>
                                                <option value="6">行政</option>
                                                <option value="7">活動場地</option>
                                                <option value="8">緊急醫療</option>
                                                <option value="9">景點</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="radios">一開始隱藏</label>
                                        <div class="col-md-4">
                                            <label class="radio-inline">
                                                <input type="radio" class="radios1" name="radios1" value="0"> 是
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" class="radios1" name="radios1" value="1"> 否
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="radios">是否有很多個</label>
                                        <div class="col-md-4">
                                            <label class="radio-inline">
                                                <input type="radio" class="radios2" name="radios2" value="0"> 是
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" class="radios2" name="radios2" value="1"> 否
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="radios">是否需要modal</label>
                                        <div class="col-md-4">
                                            <label class="radio-inline">
                                                <input type="radio" class="radios3" name="radios3" id="radios2-0" value="0" checked="checked"> 是
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" class="radios3" name="radios3" id="radios2-1" value="1"> 否
                                            </label>
                                        </div>
                                    </div>

                                    <!-- Textarea -->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="eleintro">物件說明</label>
                                        <div class="col-lg">
                                            <textarea class="form-control edittext" id="edittextarea" rows="8" cols="60" name="eleintro"></textarea>
                                        </div>
                                    </div>

                                    <!-- Multiple Radios (inline) -->

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                                        <button type="submit" class="btn btn-primary">儲存</button>
                                    </div>


                                </fieldset>
                            </form>
                        </div>


                    </div>
                </div>
            </div>
            <main>
                <h1>
                    <%= title %>
                </h1>
                <div id="sidebar_left">
                    <ul>
                        <li val="0">全部</li>
                        <li val="1">系館</li>
                        <li val="2">運動</li>
                        <li val="3">餐廳</li>
                        <li val="4">設施</li>
                        <li val="5">住宿</li>
                        <li val="6">行政</li>
                        <li val="7">藝文活動</li>
                        <li val="8">醫療緊急</li>
                        <li val="9">景點</li>

                    </ul>
                </div>
                <div id="content">
                    <table>
                        <thead>
                            <tr id="tablehead">
                                <td>物件名</td>
                                <td>圖片</td>
                                <td>位置&大小</td>
                                <td>內容</td>
                                <td>刪除</td>
                            </tr>

                        </thead>
                        <tbody>
                            <%_ for (let i in result) { -%>
                                <tr class="tabledata" eletype="<%=result[i]['Type']%>">
                                    <td>
                                        <%= result[i]['Element_Name'] %>
                                    </td>
                                    <td>
                                        <button class="picedit" type="button" data-toggle="modal" data-target="#editpic<%=i%>" ooo="<%= result[i]['_id'] %>">編輯</button>
                                    </td>
                                    <!--picedit<%= i %>-->
                                    <div class="modal fade fkpicedit" id="editpic<%=i%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
                                        aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="pic-title modal-title-buildpic">物件圖片</h5>
                                                    <h5 class="sep">|</h5>
                                                    <h5 class="pic-title modal-title-intropic">介紹圖片</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span class=".picclose" aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body imgcontent" ooo="<%= result[i]['_id'] %>">


                                                    <img id="output" width="300px">
                                                    <form class="picuploadform" action="/campus/insert_img/<%=result[i]['_id']%>" enctype="multipart/form-data" method="post">
                                                        <fieldset>
                                                            <input type="file" name="uploadingImg" accept="image/*" onchange="loadFile(event)">
                                                            <input type="hidden" class="imgtype" name="imgtype">
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary picclose" data-dismiss="modal">Close</button>
                                                                <button type="submit" class="btn btn-primary">上傳</button>
                                                            </div>
                                                        </fieldset>
                                                    </form>




                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <td>
                                        <button type="button" data-toggle="modal" data-target="#mapedit" class="editpicposi" xxx="<%=result[i]['_id']%>">編輯</button>
                                    </td>



                                    <td>
                                        <button type="button" class="edittextbt" val="<%=result[i]['_id']%>" data-toggle="modal" data-target="#textedit">編輯</button>
                                    </td>



                                    <td>
                                        <a href="delete/<%=result[i]['_id']%>">刪除</a>
                                    </td>


                                </tr>
                                <%_ } -%>

                        </tbody>
                    </table>
                </div>


            </main>
            <footer>
                <% include ../layout/footer %>
            </footer>
            <% include ../layout/js %>
                <% include js2 %>
</body>

</html>