<!DOCTYPE html>
<html>
<head>
    <% include ../layout/head %>
    <link rel=stylesheet type="text/css" href="../life/life.css">
</head>
<body> 
    <header>
        <% include ../layout/navbar %>
    </header>
    <main style="background-image: url('sub_background.png'); background-repeat: no-repeat;  background-size:cover; background-attachment: fixed; height: 100vw;">
        <div class="header-2"></div>
        <div class="selectArea">
            <% var cnt = 0 %>
            <% for (var i in life) { %>
                <% if (life[i].type == "dorm") { %>
                    <div class="selectbar">
                        <img class="mainTitle" src="2_<%=cnt%>_dorm.png" id="2_<%=cnt%>" alt="<%=life[i].alt%>"/>
                        <% if(life[i].subTitle.length != 0) { %>
                            <hr class="hide" id="2_<%=cnt%>_hr"/>
                            <ul class="hide" id="2_<%=cnt%>_sub">
                            <% for (var j=0 ; j<life[i].subTitle.length ; j++) { %>
                                <li><a href=""><%= life[i].subTitle[j] %></a></li>
                            <% } %>
                            </ul>
                        <% } %>
                    </div>
                    <% cnt = cnt + 1 %>
                <% } %>
            <% } %>
        </div>
        <div class="pictureArea">
            <div class="slideshow_container">
                <div class="mySlides">
                    
                </div>
            </div>
            <a class="prev">&#10094;</a>
            <a class="next">&#10095;</a>
            <div class="dot_container">
                <p class="dot"></p>
                <p class="dot"></p>
            </div>
        </div>
        <div class="discribeArea">
        </div>
        <img src="earth.png" style="position: absolute; left: -200px; top: 350px; width: 100%; height: 50%; opacity: 0.5; z-index: 1;"/>
        <% include navi %>
    </main>
    <footer>
        <% include ../layout/footer %>
    </footer>
        <% include ../layout/js %>
        <% include js %>
</body>
</html>
