    <div class="selectArea">
        <% var cnt = 0 %>
        <% for (var i in life) { %>
            <% if (life[i].type == page) { %>
                <div class="selectbar">
                    <img class="mainTitle" src="<%=num%>_<%=cnt%>_<%=page%>.png" alt="<%=life[i].mainTitle%>" />
                    <div class="clk" id="<%=num%>_<%=cnt%>"></div>
                    <% if(life[i].subTitle.length != 0) { %>
                        <hr class="hide1" id="<%=num%>_<%=cnt%>_hr"/>
                        <ul class="hide1" id="<%=num%>_<%=cnt%>_sub">
                        <% for (var j=0 ; j<life[i].subTitle.length ; j++) { %>
                            <li><a href="#" class="showDetail"><%= life[i].subTitle[j] %></a></li>
                        <% } %>
                        </ul>
                    <% } %>
                </div>
                <% cnt = cnt + 1 %>
            <% } %>
        <% } %>
    </div>